{% extends 'base.html' %}

{% block title %}Sign Up{% endblock title %}

{% block style %}

	<style type="text/css">
		@media screen and (max-width: 576px) {
			form {
				min-width: 300px !important;
			}
		}
	</style>

{% endblock style %}

{% block content %}
<div class="d-flex align-items-center justify-content-center flex-column p-5" style="min-height: 90vh;">
	<div class="color-1 d-flex align-items-center f-lg mb-3">
		<i class="fa-solid fa-graduation-cap" style="margin-top: -0.45rem;"></i>
		<h4 class="ml-2">Student's Portal</h4>
	</div>
	<div class="bg-white p-4 shadow">
		<div class="d-flex flex-column align-items-center">
			<i class="fa-solid fa-circle-user" style="font-size: 2.5rem;"></i>
			<h4 class="mt-2">Sign Up</h4>
			<p class="small" style="margin-top: -0.3rem;">Sign up and begin your project</p>
		</div>
		<form style="min-width: 400px;" method="post">
			{% csrf_token %}
			<div>
				{% if u_form.non_field_errors %}
					<ol>
						{% for error in u_form.non_field_errors %}
							<li><strong>{{error|escape}}</strong></li>
						{% endfor %}
					</ol>
				{% endif %}
				{% if s_form.non_field_errors %}
					<ol>
						{% for error in s_form.non_field_errors %}
							<li><strong>{{error|escape}}</strong></li>
						{% endfor %}
					</ol>
				{% endif %}
			</div>
			<div class="fieldWrapper form-group">
				{% if u_form.first_name.errors %}
					<ol>
						{% for error in u_form.first_name.errors %}
							<li><strong>{{error | escape}}</strong></li>
						{% endfor %}
					</ol>
				{% endif %}
				<div class="form-group">
					<input type="text" name="first_name" id="id_first_name" placeholder="First Name" class="form-control">
					<i class="fa-solid fa-circle-user input-icon"></i>
				</div>
			</div>
			<div class="fieldWrapper form-group">
				{% if u_form.last_name.errors %}
					<ol>
						{% for error in u_form.last_name.errors %}
							<li><strong>{{error | escape}}</strong></li>
						{% endfor %}
					</ol>
				{% endif %}
				<div class="form-group">
					<input type="text" name="last_name" id="id_last_name" placeholder="Last Name" class="form-control">
					<i class="fa-solid fa-circle-user input-icon"></i>
				</div>
			</div>
			<div class="fieldWrapper form-group">
				{% if s_form.reg_no.errors %}
					<ol>
						{% for error in s_form.reg_no.errors %}
							<li><strong>{{error | escape}}</strong></li>
						{% endfor %}
					</ol>
				{% endif %}
				<div class="form-group">
					<input type="text" name="reg_no" id="id_reg_no" placeholder="Reg No" class="form-control">
					<i class="fa-solid fa-circle-user input-icon"></i>
				</div>
			</div>
			<div class="fieldWrapper form-group">
				{% if u_form.email.errors %}
					<ol>
						{% for error in u_form.email.errors %}
							<li><strong>{{error | escape}}</strong></li>
						{% endfor %}
					</ol>
				{% endif %}
				<div class="form-group">
					<input type="email" name="email" id="id_email" placeholder="Email" class="form-control">
					<i class="fa-solid fa-envelope input-icon"></i>
				</div>
			</div>
			<div class="fieldWrapper form-group">
				{% if u_form.password1.errors %}
					<ol>
						{% for error in u_form.password1.errors %}
							<li><strong>{{error | escape}}</strong></li>
						{% endfor %}
					</ol>
				{% endif %}
				<div class="form-group">
					<input type="password" name="password1" id="id_password1" placeholder="Password" class="form-control">
					<i class="fa-solid fa-key input-icon"></i>
				</div>
			</div>
			<div class="fieldWrapper form-group">
				{% if u_form.password2.errors %}
					<ol>
						{% for error in u_form.password2.errors %}
							<li><strong>{{error | escape}}</strong></li>
						{% endfor %}
					</ol>
				{% endif %}
				<div class="form-group">
					<input type="password" name="password2" id="id_password2" placeholder="Confirm Password" class="form-control">
					<i class="fa-solid fa-key input-icon"></i>
				</div>
			</div>
			<button class="btn background-1 text-white w-100 mt-3">Sign Up</button>
		</form>
	</div>
</div>
{% endblock content %}